<div class="dashboard_header">
    <h1>Admin Dashboard</h1>
</div>

<div class="dashboard_body">

    {{#if hasRooms}}
    <!--if the admin has rooms, show them in the table-->
    {{#if showTable}}
    <table id="myroomtable" border="1px solid black">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td id>Room #</td>
                <td>Title</td>
                <td>Price/night</td>
                <td>Description</td>
                <td>Location</td>
                <td>Photo</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        {{#each rooms}}
        <tbody>
            <tr>
                <td><a href="/adminDashboard/edit/{{_id}}">Edit</a></td>
                <td style="text-align:center">{{@index}}</td>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td>{{this.description}}</td>
                <td>{{this.location}}</td>
                <td style="padding:0;"><img src="/photos/{{this.filename}}" style="height:10em;" /></td>
                <td><a href="/adminDashboard/delete/{{filename}}">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    {{else}}
    <br />
    <h3>No rooms registered yet</h3>
    {{/if}}
    <br />


    {{#if registerForm}}
    {{#each errors}}
    <div class="errors">{{this}}</div>
    {{/each}}
    <form action="/adminDashboard/register_room" method="post" id="roomRegisterForm" enctype="multipart/form-data">
        <h3>Room Detail</h3>
        <br />
        <div class="form-row">
            <label for="roomtitle">Title</label><input type="text" placeholder="Title of the room" id="roomtitle"
                name="roomtitle">
        </div>
        <div class="form-row">
            <label for="roomprice">Price</label><input type="text" placeholder="Price of the room per night"
                id="roomprice" name="roomprice">
        </div>
        <div class="form-row">
            <label for="location">Location</label>
            <select id="location" name="location">
                <option value="location" selected disabled>Location</option>
                <option value="Toronto">Toronto</option>
                <option value="North York">North York</option>
                <option value="Vancouver">Vancouver</option>
                <option value="Ottawa">Ottawa</option>
            </select>
        </div>
        <div class="form-row">
            <label for="description">Description</label><input type="text" placeholder="Description of the room"
                id="description" name="description" />
        </div>
        <div class="form-row">
            <label for="photo">Photo</label><input type="file" id="photo" name="photo">
        </div>
        <br />
        <div class="form-row" id="registerRoomBtn">
            <input type="submit" value="Register a room">
        </div>
    </form>
    {{else}}
        {{#if edit}}
        {{else}}
            <h3><a href="/adminDashboard/register_room">Register a new room</a></h3>
        {{/if}}
    {{/if}}


    {{#if edit}}
    <form id="roomeditform" method="post" action="/adminDashboard/edit/{{room.filename}}" enctype="multipart/form-data" >
        {{#if room._id}}
        <input type="hidden" name="id" value="{{room._id}}" />
        <input type="hidden" name="edit" value="1" />
        <h4>Editing Room ID: <br/>{{room._id}}</h4><br/>
        {{else}}
        <input type="hidden" name="edit" value="0" />
        <label class="fixedlabel">ID</label><input type="number" name="ID" /><br />
        {{/if}}
        <label class="fixedlabel">Title</label><input type="text" name="roomtitle" value="{{room.title}}" /><br />
        <label class="fixedlabel">Price/night</label><input type="text" name="roomprice" value="{{room.price}}" /><br />
        <label class="fixedlabel">Description</label><input type="text" name="description" value="{{room.description}}" /><br />
        <label class="fixedlabel">Location</label><input type="text" name="location" value="{{room.location}}" /><br />
        <label class="fixedlabel">Photo</label><input type="file" id="photo" name="photo">
        <label class="fixedlabel"></label><button type="submit" name="submit">Edit</button>
    </form>
    {{else}}
    {{/if}}


</div>